.grade {
    justify-content: center;
    display: flex;
}

p {
    color: white;
    cursor: pointer;
    font-size: 30px;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 22px;
    margin: 0%;

}

.dois {
    border: double white 7px;
    border-left: none;
}

.quatro {
    border: double white 7px;
    border-top: none;
}

.oito {
    border: double white 7px;
    border-right: none;
}

.seis {
    border: double white 7px;
    border-bottom: none;
}

h2 {
    text-align: center;
    display: flex;
    color: white;
    font-size: 25px;
}

h3 {
    font-family: monospace;
    font-size: 15px;
    color: white;
}

h1 {
    color: white;
}

.re {
    margin-top: 30px;
    margin-left: 500px;
    margin-right: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    text-decoration: double;
}

button {
    color: black;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    border-color: white(174, 174, 174);
    border-style: solid;
    box-shadow: 0px 3px 1px 0px gray;
    margin-bottom: 4px;
}

button:hover {
    background-color: rgb(189, 188, 188);
    box-shadow: 0px 3px 1px 0px grey;
}

button:active {
    box-shadow: 0px 0px 0px 0px white;
    margin-top: 3px;
    margin-bottom: 1px;
}