header{
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 10px;
    display: inline-flex;
    text-decoration: none;
}
body{
    margin: 0%;
}
a{
    font-family: monospace;
    font-size: 25px;
    margin: 10px;
    text-decoration: none;
}