@model AulaMVC2._1.Models.Local
@{
	ViewData["title"] = "Excluir";
}
<h2>@ViewData["title"]</h2>
<div>
	<form asp-action="Deletar">
		<button asp-action="Deletar">Sim</button>
	</form>
	<form asp-action="Deletar">
		<button asp-action="Index">Não</button>

	</form>
</div>
